/*Helena Funke*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color: red;
    border: dotted 2px red;
    text-align: center;
    padding: 5px;
}
div {
    text-align: center;
}
li {
    list-style-type: none;
    margin: 30px;
}
.Button {
    color:white;
    background-color: red;
    margin-left: 600px;
    margin-right: 600px;
    padding: 20px;
}
img {
    height: 300px;
}
.underline {
    color: gray;
    font-size: 10px;
    margin: -10px;
}