#Text{
    font-size:1.5em;
    padding:0px 30px 0px 20px
}
#Preis{
    font-size:1.5em;
    margin:0px 0px 15px 20px
}
   
#Name{
    font-size:1.5em;
    margin:-20px 0px 0px 20px
}
/*13.02.2020*/

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    border:1px dotted red;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    justify-content:space-around;
    align-items:center;
    height:200px;
    
}

li {
    border:1px solid black;
    margin:0.5em;
    padding:0.5em;
}
   
.flex1 {
    order:1;
    flex-basis:25%;
    border: 3px dotted red;
}

.flex2 {
    order:2;
    border: 3px dotted blue;
}