h1 {
    color:#03588C;
}
p {
    color:#023859;
}
h2 {
    color:#0477BF;
}
.first {
    background-color:#8BADD9;
}
.second {
    background-color:#A0BBF2;
}
.third {
    background-color:#B6D0F2;
}