.headline {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width:400px;
    margin:15px;
}
.container {
    display:flex;
    flex-wrap:wrap;
    margin:30px;
}
img:hover {
    transform: scale(1.2);
}
 